.wrapper {
  position: relative;
  width: 100%;
  border: none;
  border-radius: 8px;

  line-height: 32px;
  padding: 20px 32px;
  margin: 8px 0;

  font-size: 22px;
  font-family: inherit;
  font-weight: bold;
  letter-spacing: 0.5px;

  background: var(--color-primary);
  color: var(--color-white);

  img {
    position: absolute;
    top: 50%;
    right: 32px;
    transform: translateY(-50%);
    height: 13.26px;
    width: 22.35px;
  }
}
