.wrapper {
  margin: 20px 0;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 5px 20px 0 rgba(0,0,0,0.15);
  transform: translateX(0);

  transition: transform 0.1s ease-out;

  &:hover {
    transform: translateX(4px);
  }

  &:first-child {
    margin-top: 8px;
  }
}

.bubble {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background: var(--color-green);
}

.text {
  margin-left: 20px;
  margin-right: 16px;

  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.arrow {
  height: 13.26px;
  width: 22.35px;
}
